
@media (min-width: 320px) {
header {
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;
    flex-direction:column;

    background-color: $main-color;

    .header_logo {
        height:36px;
        padding: 14px 89px 13px 89px;
    }

    .header_location {
        display: flex;
         
        width: 100%;   
        height: 50px;
        justify-content: center;
        align-items: center;
        gap: 17px;
    
        background: $second-color-header;


        .header_icon-location {
            width: 20px;
            height: 16px;
            flex-shrink: 0;
            font-size:21px;   
        }
    
    }
}
}



