
.search {
        padding-top:30px;
        padding-bottom:62px;
        
        display:flex;
        align-items:center;
        flex-direction: column;
    
        background-color: $second-color;

        .search_title {
            width: 275px;
            height: 68px;
            padding-top: 6px;
            padding-left: 30px;
            padding-right:30px;


            color: $basic-color;
            text-align: center;
            font-family: Roboto;
            font-size: 24px;
            font-style: normal;
            font-weight: 1000;
            line-height: normal;
        }

        .search_text {
            width: 315px;
            height: 46px;
            
        
            color: $color-searchtext;
            text-align: center;
        
            /* Paragraph */
            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }

        .search_button {
            width: 218px;
            height: 50px;
            flex-shrink: 0;
        
            display:flex;
            align-items:center;
            justify-content:center;
        
            margin-top:3%;
            
            
            border-radius: 25px;
            background: $search-button-gradient;
        
            
            box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
        }

        .search_buttontext {
            width: 169px;
            height: 24px;
            
            color: $main-color;
    

    
            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;

            
        }


 }

 .fonctionnement {
    width: 357px;
    height: 440px;
    
    display: flex;
    
    
    padding-top:10%;
    

    flex-direction: column;
    align-items: center;
    gap: 25px;
    

    background-color: $main-color;

    .fonctionnement_title {
        width: 275px;
        height: 31px;
       

        color: #000;

    /* Section Title */
        font-family: Roboto;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

    }

    .fonctionnement__filter {
        gap:21px;
        
        
        display:flex;
        flex-direction: column;
        
    }

    .fonctionnement__filter--settings {
        display:flex;
        
        align-items:center;
    
        width: 322.486px;
        height: 72.379px;
        flex-shrink: 0;
        
        
    
        gap:15px;
    
        
    
        border-radius: 20px;
        background-color: $second-color;
    
        
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    }

    .filter__circle {
        width: 24px;
        height: 24px;
        z-index:1;
        margin-left: -11px;
    
        display:flex;
        justify-content: center;
        align-items:center;
    
        border-radius:52% 48% 48% 52% / 49% 50% 50% 51% ;
        background-color: $color-circle-filter;
    
    
        color: $main-color;
        font-size: 15px;
        font-weight: 600;
        
    }

    .filter__iconsettings {
        color:$color-icon-filter;
    }

    .fonctionnement__filter--text {
        width: 211px;
        height: 15.67px;
        

        color: $basic-color;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;

    }
    
 }


 .restaurants {
    width: 100%;
    height: 1154px;


    background-color:$second-color;
    

    .restaurants__title {
        width: 275px;
        height: 68px;
        flex-shrink: 0;
    
        color: $basic-color;
    
        
        font-family: Roboto;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .restaurants__column {
        display:flex;
        flex-direction: column;
        gap: 36px;

        .restaurants__column--card {
            border-radius: 15px;
            background: $main-color;
            box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
        
            width: 326px;
            height: 227px;
            flex-shrink: 0;
            position: relative;
    
            .restaurants__column--img {
                border-top-right-radius: 20px;
                border-top-left-radius: 20px;
                
                width: 326px;
                height: 142px;
            
                position: relative;
        
                object-fit: cover;
                object-position:0%;
        
                
            }
            
        }
    

        
    }

    .restaurant__column--label-new {
        width: 80px;
        height: 21px;
        position: absolute;
        display: block;
        top: 13%;
        left: 76%;
        border-radius: 2px;
        
        
    
        border-radius: 2px;
        background: #99E2D0;
    
        /* Shadow/Badge */
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    }
    
    .new-text {
        position: absolute;
    
        color: #008766;
        text-align: center;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 1000;
        line-height: normal;
    }

    .restaurants__column--text {
        display: flex;
        flex-direction: column;
        gap:5px;
    
        padding-left: 15px; 
        padding-top: 14px;
        }

        .restaurants__column--title {
            width: auto;
            height: auto;
            flex-shrink: 0;
    
            color: $basic-color;
            font-family: Roboto;
            font-size: 18px;
            font-style: normal;
            font-weight: 1000;
            line-height: normal;
        }

        .restaurant__column--location {
            width:auto;
            height:auto;
    
    
            color: $basic-color;
            font-family: Roboto;
            font-size: 17px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
        }
    
        .settingsheart {
            width: 91%;
            height: 21px;
            position: absolute;
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            font-size: larger;
        }

        .fontsizeheart {
            font-size:25px;
            width:22px;
            height:21px;
            display:block;
        }

        .settingsheart:hover .fa-regular {
            color:$color-button-icon;
            font-weight:900;
        }
    
 }



 @media (min-width: 1024px) {

    .fonctionnement {
        width: 100%;
        height: 228.38px;
        padding: 50px 180px 50px 180px;
        gap: 25px;

        .fonctionnement__filter {
            width: auto;
            height: 72.379px;
            gap:30px;

            flex-shrink: 0;
            flex-direction:row;
            padding-left: 6%;

        }
    }

    .restaurants {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 28px;
        align-self: stretch;

        .restaurants__column {
            width:100%;
            height: auto;
            flex-wrap: wrap;

            display: flex;
            flex-direction: row;
        
            align-items: flex-start;
            gap: 100px;
            align-self: stretch;

        .restaurants__column--card {
            width:45%;
            height: 308px;

            display: flex;
            flex-direction: column;
            
    
            .restaurants__column--img {
                width: 100%;
                height: 231px;
                
                
                align-self: stretch;
                display: flex;
                justify-content: center;
                border-radius: 20px 20px 0px 0px;
                margin-bottom: 4px;
                }
            }
        }

        

        

        
    }

 }



 
    

